CLIENT_URL=

DATABASE_URL=postgresql://neondb_owner:,<PASSWORD>@ep-red-star-awvc54ta-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_READ_URL=postgres://neondb_owner:PASSWORD@ep-rapid-flower-aw4ilb30-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require

REDIS_URL=
UPSTASH_REDIS_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
ALLOWED_ORIGINS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


NODE_ENV=development
PORT=8502
